In [25]:
import json
import requests
import pandas as pd

In [26]:
print("조회하고 싶은 날짜를 입력하세요(ex. 20200202): ")
date = input()

조회하고 싶은 날짜를 입력하세요(ex. 20200202):
20200820

In [27]:
daily_movie=[]
date_url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+키+'&targetDt='+date
res = requests.get(date_url)
text = res.text
d = json.loads(text)

for item in d['boxOfficeResult']['dailyBoxOfficeList']:
    daily_movie.append([item['rank'], item['movieNm'], item['rankOldAndNew'], item['audiAcc']])
daily_movie

[['1', '다만 악에서 구하소서', 'OLD', '3924601'],
 ['2', '오케이 마담', 'OLD', '1030491'],
 ['3', '극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!', 'OLD', '13109'],
 ['4', '강철비2: 정상회담', 'OLD', '1761674'],
 ['5', '남매의 여름밤', 'NEW', '4688'],
 ['6', '반도', 'OLD', '3797765'],
 ['7', '메멘토', 'OLD', '35357'],
 ['8', '나의 소녀시대', 'OLD', '415527'],
 ['9', '시크릿 가든', 'OLD', '3628'],
 ['10', '극장판 시로바코', 'NEW', '1133']]

In [28]:
boxoffice=pd.DataFrame(daily_movie)
boxoffice.columns=['rank', 'movieNm', 'old/new', '누적 관객수']
boxoffice

  rank                          movieNm old/new   누적 관객수
0    1                      다만 악에서 구하소서     OLD  3924601
1    2                           오케이 마담     OLD  1030491
2    3  극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!     OLD    13109
3    4                       강철비2: 정상회담     OLD  1761674
4    5                          남매의 여름밤     NEW     4688
5    6                               반도     OLD  3797765
6    7                              메멘토     OLD    35357
7    8                          나의 소녀시대     OLD   415527
8    9                           시크릿 가든     OLD     3628
9   10                         극장판 시로바코     NEW     1133